{% include 'header.html' %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/about-bg.jpg') }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>I am Junior Full Stack Developer, with knowledge of frontend and backend technologies, like: HTML, CSS, Bootstrap, Javascript, JQuery, Node Js, React Js, Python.</p>
                <p>It's about seven month since I have been trying to develop myself and become real world expert. Firstly I started with SQL - Microsoft SQL, MySQL, PostgreSQL, Oracle SQL and then turned into real Programming.</p>
                <p>During this struggling process, I have been working on different types of Projects, for example: Turtle Games with Python, PyQt5 and Tkinter GUI Application, Simple Javascript Games and right now I am working On Flask Applications.</p>
            </div>
        </div>
    </div>
</main>
<!-- Footer-->
{% include 'footer.html' %}
